body{
    margin: 0;
    color: white;
    background-color: #222222; 
    background-image: url('../back.png');
    background-repeat: repeat;
    min-height: 100vh
}

#wrapper{
    display: flex;
    height: 100vh
}

a{
    color: darkgoldenrod;
}

ul li a {
    padding: 5px 30px 5px 10px;
    display: block;
}

h2{
    text-align: center;
}

footer{
    background-color: black;
    text-align: center;
    width: 100%;
    line-height: 40px;
    margin-top: -40px;
    height: 40px;
}

article, aside{
    background-color: #111111;
    z-index: -1;
}

header{
    width: inherit;
}

aside{
    padding: 10px;
}

main{
    width: 100%;
    padding: 20px;
}

article{
    padding: 30px;
    display: block;
    border-radius: 10px;
}

#menu{
    background-color: #111111;
    width: 200px;;
}

#logoImage{
    width: inherit;
}

#mobileMenu{
    height: 60px;
    width: 100vw;
    line-height: 60px;
    position: fixed;
    display: none;
}

#menu a:hover
{
  color: tomato;
}